/*
  Catppuccin Latte theme for Highlight.js
  Source palette: https://github.com/catppuccin/catppuccin
  License: MIT
*/

html:not(.dark) .hljs {
  color: #4c4f69;
  background: transparent;
}

html:not(.dark) .hljs::selection,
html:not(.dark) .hljs span::selection {
  background: #ccd0da;
}

html:not(.dark) .hljs-comment,
html:not(.dark) .hljs-quote {
  color: #9ca0b0;
  font-style: italic;
}

html:not(.dark) .hljs-doctag,
html:not(.dark) .hljs-formula,
html:not(.dark) .hljs-keyword,
html:not(.dark) .hljs-template-tag,
html:not(.dark) .hljs-template-variable {
  color: #8839ef;
}

html:not(.dark) .hljs-built_in,
html:not(.dark) .hljs-class .hljs-title,
html:not(.dark) .hljs-attr,
html:not(.dark) .hljs-attribute,
html:not(.dark) .hljs-number,
html:not(.dark) .hljs-selector-class,
html:not(.dark) .hljs-selector-id,
html:not(.dark) .hljs-title {
  color: #d20f39;
}

html:not(.dark) .hljs-name,
html:not(.dark) .hljs-section,
html:not(.dark) .hljs-selector-tag,
html:not(.dark) .hljs-tag {
  color: #1e66f5;
}

html:not(.dark) .hljs-literal,
html:not(.dark) .hljs-meta,
html:not(.dark) .hljs-meta .hljs-keyword,
html:not(.dark) .hljs-meta .hljs-string,
html:not(.dark) .hljs-regexp,
html:not(.dark) .hljs-selector-attr,
html:not(.dark) .hljs-string,
html:not(.dark) .hljs-symbol {
  color: #40a02b;
}

html:not(.dark) .hljs-addition,
html:not(.dark) .hljs-bullet,
html:not(.dark) .hljs-code,
html:not(.dark) .hljs-link,
html:not(.dark) .hljs-params,
html:not(.dark) .hljs-punctuation {
  color: #179299;
}

html:not(.dark) .hljs-deletion {
  color: #d20f39;
}

html:not(.dark) .hljs-variable,
html:not(.dark) .hljs-variable.constant {
  color: #fe640b;
}

html:not(.dark) .hljs-operator {
  color: #df8e1d;
}

html:not(.dark) .hljs-emphasis {
  font-style: italic;
}

html:not(.dark) .hljs-strong {
  font-weight: 600;
}
